    for field i in {{indexp1}}..5 do
        field eq = if pw[i] == pw[{{index}}] then 1 else 0 fi
        field fm1 = if pw[i] == 9 then 1 else 0 fi
        field fm2 = if pw[{{index}}] == 9 then 1 else 0 fi
        field fm3 = fm1+fm2
        field e = eq - if fm3==2 then 1 else 0 fi
        ex = ex + e
    endfor

