def main(field[5] pw, field[5] pl, field c) -> (field):
    field ex = 0

    for field i in 0..4 do
        field e = if pw[i] == c then 1 else 0 fi
        ex = ex + e
    endfor

    for field i in 0..4 do
        field e = if pl[i] == c then 1 else 0 fi
        ex = ex + e
    endfor

    ex == 0
    return 1
